<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tabela de Missões</title>
</head>
<body>
<h1>Lista de ninjas</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Missoes</th>
        <th>Dificuldade</th>
        <th>Ninja</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each ="missao: ${missoes}">
        <td th:text="${missao.id}"></td>
        <td th:text="${missao.nome}"></td>
        <td th:text="${missao.dificuldade}"></td>
        <td th:text="${missao.ninja}"></td>


    </tr>
    </tbody>
</table>

</body>
</html>